<!DOCTYPE HTML>
<html>
<head>
    <title>Title of the document</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/loginstyle.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
    <!--<script type="text/javascript" src="js/register.controller.js"></script>-->
    <!--<script type="text/javascript" src="js/user.service.js"></script>-->
</head>

<body>
<div class="logo"></div>
<div class="login-block">
    <div>
    <h1>Registration</h1>
<div ng-hide="message==null">{{message}}</div>


    <input ng-model="user.firstname" class="form-control" type="text" value="" placeholder="Firstname" id="username" />
    <input ng-model="user.lastname" class="form-control" type="password" value="" placeholder="Lastname" id="username" />
    <input ng-model="user.username" class="form-control" type="text" value="" placeholder="Username" id="username" />
    <input ng-model="user.password" class="form-control" type="password" value="" placeholder="Password" id="password" />
    <div>
        <label>
            <input type="checkbox" value="festivals" ng-model="pref.festivals_parades"> Festivals
        </label>
        <label>
            <input type="checkbox" value="music" ng-model="pref.music"> Music
        </label>
        <label>
            <input type="checkbox" value="movies" ng-model="pref.movies_film"> Movies
        </label>
    </div>
    <button ng-click="register(user,pref)">Submit</button>
    <button ng-click="cancel(user)">Cancel</button>

    </div>
    
</div>
</body>

</html>
